<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="getCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM `tbluser` WHERE USERID = #{userid} AND PASSWORD = #{oldPassword}
    </select>


    <update id="updatePwd" parameterType="String">
        update `tbluser` set PASSWORD = #{newPassword}
        where USERID = #{userid}
    </update>

    <!--查询用户表总记录数-->
    <select id="getUserCount" resultType="int">
        SELECT COUNT(*) FROM `tbluser`
    </select>

    <select id="getUserList" parameterType="int" resultType="User">
        SELECT USERID,USERNAME,REMARK,ISDISABLE FROM `tbluser` limit ${(currentPage-1)*pageSize},${pageSize}
    </select>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="User">
        UPDATE `tbluser`
        SET USERNAME=#{username},SEX=#{sex},PHONE=#{phone},
        EMAIL=#{email},REMARK=#{remark},idPicPath=#{idPicPath}
        WHERE USERID=#{userid}
    </update>

    <resultMap id="menuResult" type="Menu">
        <id property="menuId" jdbcType="INTEGER" column="MENUID"/>
        <result property="menuName" jdbcType="VARCHAR" column="MENUNAME"/>
        <result property="menuSrc" jdbcType="VARCHAR" column="MENUSRC"/>
        <result property="parentId" jdbcType="INTEGER" column="PARENTID"/>
    </resultMap>

    <select id="getMenuListByID" resultMap="menuResult">
        SELECT * FROM `menu` WHERE MENUID in
        <foreach collection="array" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>